<section class="how-to">
  <div class="backdrop" (click)="closeModal()">
  </div>
  <div class="modal-content">
    <span class="del-btn" (click)="closeModal()">&times;</span>
    <div class="modal-head mb-2">
      <h1 class="title-text">How to Use</h1>
    </div>
    <div class="modal-body">
      <ul class="how-to-steps">
        <li class="step">
          <h4 style="display: inline">Step 1:</h4>
          <p style="display: inline">&nbsp;&nbsp;Upload a file in the top left input section. The file will be read and all the columns will be displayed as draggable buttons.</p>
          <div class="img-container my-2">
              <img src="../../../assets/img/first.png" alt="photo 1">
          </div>
        </li>
        <li class="step">
          <h4 style="display: inline">Step 2:</h4>
          <p style="display: inline">&nbsp;&nbsp;Drag and drop columns in the section marked by a dashed line. The data should appear in the table below.</p>
          <div class="img-container my-2">
              <img src="../../../assets/img/second.png" alt="photo 1">
          </div>
        </li>
        <li class="step">
          <h4 style="display: inline">Step 3:</h4>
          <p style="display: inline">&nbsp;&nbsp;You can select any row/column/cell in the displayed table, the chart selector in the top right will update as your selected data changes.</p>
          <div class="img-container my-2">
              <img src="../../../assets/img/third.png" alt="photo 1">
          </div>
        </li>
        <li class="step">
          <h4 style="display: inline">Step 4:</h4>
          <p style="display: inline">&nbsp;&nbsp;The primary column for your chart can be toggled by clicking the small button on the table column header. If there is no primary column, it is taken as table ID by default.</p>
          <div class="img-container my-2">
              <img src="../../../assets/img/fourth.png" alt="photo 1">
          </div>
        </li>
        <li class="step">
          <h4 style="display: inline">Step 5:</h4>
          <p style="display: inline">&nbsp;&nbsp;Click on an enabled chart button to view your visualization!</p>
          <div class="img-container my-2">
              <img src="../../../assets/img/fifth.png" alt="photo 1">
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>