/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    // font-family: cursive;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.tooltipWrapper {

    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.tooltip{
    background: whitesmoke;
    box-shadow: 0 0 6px #999999;
    border: 0;
    border-radius: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    height: auto;
    margin: 2px auto;
    padding: 0.7rem;
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: auto;
    display: inline-block;
    border: 1px solid whitesmoke;
    border-width: 0.5px;
    // text-transform: capitalize;
    // transform: translate(-50%, -50%);
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }

   